<section #heroSection id="hero" class="hero-section min-h-screen w-full px-4 md:px-10 lg:px-16 py-16 lg:py-20
         bg-gradient-to-t from-lime-600/50 via-lime-700/50 to-lime-950/40 dark:from-gray-900 dark:via-gray-800 dark:to-black
         text-white relative overflow-visible">

  <app-wave-background class="z-0"></app-wave-background>


  <!-- Avatar Layer (centered, fullscreen, no cropping) -->
  <div class="avatar-layer pointer-events-none">
    <div #avatarContainer class="hero-avatar-container"></div>
  </div>

  <div class="hero-content
         relative z-40 w-full mx-auto
         min-h-[65vh]
         grid
         grid-cols-2
         xl:grid-cols-[minmax(200px,1fr)_minmax(320px,1.25fr)_minmax(200px,1fr)]
         gap-2 sm:gap-4 xl:gap-10
         items-center
         text-gray-950 dark:text-white">

    <!-- Left hero -->
    <div class="hero-left w-[220px]
            sm:w-[250px]
            lg:w-[350px] order-1 xl:order-1
            text-left justify-self-start
            space-y-1 sm:space-y-2 md:space-y-4
            self-center px-1 sm:px-2 max-[600px]:mb-40">
      <p
        class="text-[0.6rem] max-[600px]:text-[1rem] md:text-sm uppercase tracking-[0.25rem] sm:tracking-[0.35rem] text-gray-600 dark:text-gray-300">
        Hi, I'm</p>
      <h1
        class="text-base max-[600px]:text-[1.5rem] sm:text-xl md:text-2xl lg:text-3xl xl:text-5xl font-bold leading-tight">
        Kulzum
        <span
          class="bg-gradient-to-r from-lime-600 to-emerald-500 dark:from-indigo-400 dark:to-purple-400 bg-clip-text text-transparent font-heading italic font-extrabold">
          Mujtaba
        </span>
      </h1>
      <p
        class="text-[0.7rem] max-[600px]:text-[1rem] sm:text-sm lg:text-base xl:text-xl text-gray-800 dark:text-gray-100">
        Front-End Developer · <br class="hidden sm:inline"> AI &amp; ML Enthusiast
      </p>
    </div>

    <!-- Empty middle column (avatar spacer) -->
    <div class="hidden xl:block order-2"></div>

    <!-- Right hero -->
    <div class="hero-right max-[600px]:hidden w-[220px]
            sm:w-[250px]
            lg:w-[350px]
            order-3 xl:order-3
            text-right justify-self-end
            space-y-1 sm:space-y-2 md:space-y-4
            self-center px-1 sm:px-2">
      <p
        class="uppercase tracking-[0.2rem] sm:tracking-[0.4rem] text-[0.6rem] sm:text-xs md:text-sm text-gray-700 dark:text-gray-400">
        Front-end developer</p>
      <h2 class="text-base sm:text-xl md:text-2xl lg:text-3xl xl:text-5xl font-bold leading-tight">
        &lt;coder&gt;
      </h2>
      <p class="text-[0.7rem] sm:text-sm lg:text-base text-gray-700 dark:text-gray-200">
        Clean, elegant and performant code <br class="hidden sm:inline">
        focused on delightful human experiences.
      </p>

    </div>
  </div>
</section>