/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* add to src/styles.css if needed */
.avatar-canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  pointer-events: none;
}
